body{
    margin: 10px 50px;
}
header{
    background-color: blue;
    height: 100px;
    color: orange;
}
p{
    margin: 0;
}
.body{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
}
.left{
    background-color: red;
    width: 20%;
}
.left ul{
    padding: 0;
    margin-top: 5px;
}
.left ul li{
    color: yellow;
    list-style-type: none;
    padding: 0 10px 20px 10px;
}
.main{
    background-color: aqua;
    width: 65%;
}
.right{
    background-color: brown;
    color: aqua;
    width: 15%;
}
footer{
    height: 100px;
    background-color: aquamarine;
}